/* Hello this illustrates the kind of style we're aiming for on our next page update*/

/* first example has some transparency, if this provides to be difficult then #0a1014 would be a good color for the panel*/

/* the crt effect might also be a bit difficult as well details are in .crt3-chat and .crt3-av looks cool but completely optional*/

/* Fonts used are Gruppo, and mostly OpenSans. */

/* detail colors are majorly #00ffbf; and minor #5BF3BE/(91 243 190), svg's have their own gradient */

.betbase-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.betbase-container > .betbase-body {
	width: 50vw;
	max-width: 800px;
	padding: 0 0.5vw;
}

.hlight:hover {
	filter: drop-shadow(0px 0px 0px rgba(103, 233, 171, 1));
	transition: all 0.2s ease-in-out;
}

#betbase-chat-window {
	display: flex;
	height: 80vh;
	width: 88vh;
	max-height: 790px;
	max-width: 960px;
	border-right-style: solid;
	border-right-style: solid;
	/*  border-top-style: solid; */
	/*  border-bottom-style: solid; */
	border-color: rgb(91, 243, 190);
	border-width: 1px;
	border-radius: 5px;
	background: #282828;
	flex-direction: column;
	align-items: center;
}

::-webkit-scrollbar {
	width: 0.2vw;
	height: 0.5vh;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(to top, transparent, #71fbb2, transparent) border-box;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to top, transparent, #00ffbf, transparent) border-box;
}

.pressmini {
	margin-left: 2%;
	position: relative;
	height: 30px;
	width: 10vw;
	border-color: #05df94;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 0.01vw;
	border-radius: 1px;
	background: #1b212100;
	font-size: auto;
	box-shadow: 0 0 5px #05df94, 0 0 6px 0px inset;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	/* text effect test */
	/* color: rgba(255, 255, 255, 0); */
	border-top-right-radius: 3vh;
	border-bottom-left-radius: 3vh;
	font-family: 'Gruppo';
}

.pressmini-small {
	position: relative;
	height: 5vh;
	width: 10vw;
	border-color: #05df94;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 0.01vw;
	border-radius: 1px;
	background: #1b212100;
	font-size: auto;
	box-shadow: 0 0 5px #05df94, 0 0 6px 0px inset;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	color: #05df94;
	/*  border-top-right-radius: 3vh;
    border-bottom-left-radius: 3vh;*/
}

.pressmini-small:hover {
	cursor: pointer;
	border: 0.01vw solid #05df94;
	box-shadow: inset 0 0 9px #05df94;
	opacity: 100%;
	color: #05df94;
	/*    border-top-right-radius: 0vh;
    border-bottom-left-radius: 0vh;
/* ANIMATE ROUND
   border-top-left-radius: 3vh;
    border-bottom-right-radius: 3vh; */
}

/*chatbtn */
.pressmini-chat {
	position: relative;
	height: 30px;
	width: 7vw;
	border-color: #05df94;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 0.01vw;
	border-radius: 1px;
	background: #1b212100;
	font-size: auto;
	box-shadow: 0 0 5px #05df94, 0 0 6px 0px inset;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	color: #05df94;
	/*  border-top-right-radius: 3vh;
    border-bottom-left-radius: 3vh;*/
}

.pressmini-chat:hover {
	cursor: pointer;
	border: 0.01vw solid #05df94;
	box-shadow: inset 0 0 9px #05df94;
	opacity: 100%;
	color: #05df94;
	/*    border-top-right-radius: 0vh;
    border-bottom-left-radius: 0vh;
/* ANIMATE ROUND
   border-top-left-radius: 3vh;
    border-bottom-right-radius: 3vh; */
}

.pressmini-chat:active {
	cursor: pointer;
	border: 0.01vw solid #05df94;
	box-shadow: inset 0 0 9px #2bfb00;
	opacity: 100%;
	transition: fade 0.5s ease-in;
}

@media screen and (max-width: 415px) {
	.betbase-container > .betbase-body {
		width: 97vw;
		justify-content: center;
		margin: 0 auto;
	}

	.slides {
		height: 33vh;
	}
}

.crt3-chat {
	background-image: linear-gradient(rgba(17, 20, 53, 0.1), rgba(118, 255, 241, 0.1));
	/*remove anim */
	background-repeat: repeat;
	background-size: 100vw 0.5vh;
	animation: bgscroll 2s linear infinite;
	/*/remove anim */
	border-top-left-radius: 1vh !important;
	border-top-right-radius: 1vh !important;
	border-bottom-right-radius: 1vh !important;
	border-bottom-left-radius: 0 !important;
}

.badge-scale {
	display: flex;
	width: 5vh;
	margin: 0 auto;
	display: block;
	justify-content: center;
	align-items: center;
	scale: 50%;
}

.displaywrap {
	padding-top: 1vh;
	justify-content: center;
	display: flex;
	flex-direction: row;
	gap: 10px;
	max-width: 100%;
}

.displaybox {
	width: 5vh;
	height: 5vh;
	background-color: #191b1c;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: rgb(91, 243, 190, 1);
	border-width: 1px;
	border-radius: 0.9vh;
	box-shadow: 0 0 5px rgb(91 243 190), 0 0 6px 0px inset;
}

.betbase-container > #betbase-chat-window {
	width: 25vw;
	height: 99vh;
	max-width: 800px;
	max-height: unset;
	padding: 0 0.5vw;
	margin-left: 5px;
	background: rgb(0 0 0 / 6%);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 13px;
	z-index: 1;
	margin-left: 5px;
	box-shadow: inset /*choice*/ 0 0 5px rgb(91 243 190), 0 0 6px 0px inset;
	border-color: #00ffbf;
	border-width: 1px;
}

#chat-header {
	height: 3.5%;
	width: 100%;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: rgb(91, 243, 190);
	font-size: 16px;
	color: rgb(91, 243, 190);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-family: 'Gruppo';
}

#chat-history {
	overflow: auto;
	box-sizing: border-box;
	height: 85%;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	background: transparent;
	margin-top: 4px;
	gap: 2vh;
}

.chat-container {
	display: flex;
	color: White;
	font-family: 'Open Sans';
	align-items: center;
	font-size: 1.5vh;
}

.chat-msg {
	color: White;
}

.chat-av-box {
	width: 100%;
	margin-right: 10px;
	float: left;
	border-width: 1px;
	border-style: solid;
	border-color: #00ffbf;
	width: 40px;
	height: 40px;
}

.crt3-av {
	background-image: linear-gradient(rgba(17, 20, 53, 0.1), rgba(118, 255, 241, 0.1));
	/*remove anim */
	background-repeat: repeat;
	background-size: 100vw 0.5vh;
	animation: bgscroll 2s linear infinite;
	/*/remove anim */
	border-top-left-radius: 0vh;
	border-top-right-radius: 0vh;
	border-bottom-right-radius: 0vh;
	border-bottom-left-radius: 0;
}

@keyframes bgscroll {
	100% {
		background-position: 0% 100%;
	}
}

.ppar {
	position: relative;
	top: 0;
	left: 0;
}

.av-fit {
	position: relative;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	z-index: -1;
}

.dddd {
	position: absolute; /*remove pos for badge under av */
	/* slightoffcenter 
    top: 30px;
    left: 30px;*/
	top: 25px;
	left: 25px;
}

.avsepara {
	display: flex;
	flex-direction: column;
	height: fit-content;
	background-color: #0f151874;
	border-radius: 2px;
	/* border-bottom-style: dotted; */
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	/*   border-top-style: dotted; */
	border-width: 1px;
	padding: 5px;
	border-color: #00ffbf;
	box-shadow: inset 0 0 1px rgb(91 243 190), rgb(91 243 190) 0 0 6px 0px inset;
}

.user-bold {
	font-weight: bold;
	color: #00ffbf;
}

.timewrap {
	/*    display: flex;
       flex-wrap: wrap; */
	display: flex;
	flex-wrap: wrap;
	justify-content: none;
	flex-direction: column-reverse;
	align-content: flex-end;
	height: calc(0vh - 0px);
}

.tstamp {
	flex-basis: 100%;
	color: #00ffbf;
	top: -9px;
}

.hasjoined {
	justify-content: center;
	align-items: center;
	font-family: 'Gruppo';
	text-align: center;
}

.hasjoinedstyl {
	padding: 2px;
	/* background-color: #191B1C; */
	color: #00ffbf;
	font-size: 14px;
	/* border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
    box-shadow: inset 0 0 1px rgb(91 243 190), rgb(91 243 190) 0 0 6px 0px inset; */
}

.betbase-input-container {
	height: 5%;
	width: 98%;
	display: flex;
	background: #01010140;
	/* border-width: 2px;
        border-style: solid; */
	border-radius: 5px;
	border-color: #44554f;
	align-items: center;
	color: white;
}

form {
	height: 96%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 16px;
}

.betbase-input {
	height: 80%;
	width: 80%;
	background: #191b1c;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: #191b1c;
	color: white;
	outline: none;
}

input[type='text'i] {
	padding: 1px 2px;
}

.emoteman {
	position: relative;
	right: 0;
	width: 45px;
	justify-content: center;
}

.decor-chat {
	scale: 100%;
	height: fit-content;
	padding: calc(1% + 12px);
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bbxoc {
	font-size: smaller;
	color: #00ffbf;
	font-family: 'Gruppo';
	margin-left: auto;
	align-content: flex-start;
	flex-shrink: 0;
	flex: 1;
	min-height: 1;
}

.betbase-container > #betbase-chat-window {
	width: 25vw;
	height: 99vh;
	max-width: 800px;
	max-height: unset;
	padding: 0 0.5vw;
	margin-left: 5px;
	background: rgb(0 0 0 / 6%);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 13px;
	z-index: 1;
	margin-left: 5px;
	box-shadow: inset /*choice*/ 0 0 5px rgb(91 243 190), 0 0 6px 0px inset;
	border-color: #00ffbf;
	border-width: 1px;
}

.colorvar2 {
	width: 25vw;
	height: 99vh;
	max-width: 800px;
	max-height: unset;
	padding: 0 0.5vw;
	margin-left: 5px;
	background: #0a1014 !important;
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 13px;
	z-index: 1;
	margin-left: 5px;
	box-shadow: inset /*choice*/ 0 0 5px rgb(91 243 190), 0 0 6px 0px inset;
	border-color: #00ffbf;
	border-width: 1px;
}

body {
	margin: 0;
	display: block;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 121, 77, 1) 38%,
		rgba(0, 212, 255, 1) 100%
	);
}

body {
	margin: 0;
	display: block;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 121, 77, 1) 38%,
		rgba(0, 212, 255, 1) 100%
	);
	background-image: url('https://i.imgur.com/W6DlYd6.png');
	background-repeat: no-repeat;
}
